#head-ul {
  height: 3rem;
  background:whitesmoke;
  font-family: var(--main-font-family);
  border-radius: 20px;
}

#headlogo {
  height: 40px;
  width: 40px;
}

#search-bar {
  border-radius: 20px;
  border: lightgray;
  outline: none;
  padding: 8px 0px 8px 10px;
  font-size: small;
  width: 20%;
}

.navlists {
  list-style: none;
}

.navlinks {
  text-decoration: none;
  color:black;
  padding: 20px;
  margin: 5px;
}

#blc-ul {
  background-color: whitesmoke;
  position: absolute;
  top: 30px;
  transform: translateX(0%);
  z-index: 1;
  opacity: 90%;
  visibility: hidden;
  width: 120%;
}

.blc-sub-links {
  list-style: none;
  padding: 10px;
}
.blc-sub-links:hover{
  background-color: lightgray;
  font-weight: bolder;

}

.blockchain-nav {
  position: relative;
}

#blc-ul a {
  text-decoration: none;
  color: black;
  margin: 4px;
}

.blockchain-nav:hover #blc-ul {
  visibility: visible;
  opacity: 1;
}